<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @articles.each do |article| %>
      <div>
        <ul>
          <li><%= article.author.name %></li>
          <li><%= article.title %></li>
          <li><%= article.text %></li>
          <%= image_tag article.image.variant(resize_to_limit: [300, 300]) %>    
          <span><%= link_to 'Show', article %></span>
          <span><%= link_to 'Edit', edit_article_path(article) %></span>
          <span><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </ul>
    </div>
    <% end %>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
