<p id="notice"><%= notice %></p>
<section class="first-container">
  <% unless @featured_id.empty? %>
    <article class="featured-container gradient-left">
      <%= image_tag @featured.image, class: "to-back" %>    
      <%= link_to @featured do %>
        <div class="featured-text">
          <span class="text-orange text-medium"><%= @featured.title %></span><br> 
          <span class="text-grey-light">by</span>
          <span class="text-orange"><%= @featured.author.name %></span>
          <span class="text-grey-light"><%= time_ago_in_words(@featured.created_at) %> ago</span>
          <p class="text-white"><%= @featured.text %></p>
        </div>
      <% end %>

    </article>
  <% else %>
    <article class="featured-container gradient-left">
      <img class="to-back" src="https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400006/100130939-error-404-page-not-found-error-with-glitch-effect-on-screen-vector-illustration-for-your-design-.jpg" alt="not-found"/>
      <div class="featured-text">
        <span class="text-orange text-medium">There is no a featured article, yet.</span><br>
        <span class="text-grey-light">by</span>
        <span class="text-orange">Me</span>
        <span class="text-grey-light"><%= time_ago_in_words(Time.now) %> ago</span>
        <p class="text-white">In order to show something here please vote for the article you enjoyed the most</p>
      </div>
    </article>
  <% end %>
  <article class="miscellaneous-container gradient-right">
    <img class="to-back" src="https://media2.giphy.com/media/dLolp8dtrYCJi/giphy.webp?cid=ecf05e472f92db77f46654b1de34805cb82e2b08f4efd45c&rid=giphy.webp" alt="not-found"/>
    <div class="miscellaneous-text">
      <span class="text-white">Talk is cheap. Show me the</span> 
      <span class="text-orange">code.</span>
    </div>
  </article>
</section>
<section class="second-container">
  <% @categories.each do |category| %>
    <% if category.articles.count.positive? %>
      <% article = category.articles.latest %>
      <div>
        <ul>
          <li><strong><%= article.title %></strong>, by <%= article.author.name %> <%= time_ago_in_words(article.created_at) %> </li>
          <li><%= article.text %></li>
          <% if article.image.attached? %>
          <div>
            <%= image_tag article.image.variant(resize_to_limit: [300, 300]), class: "to-back" %>    
          <div>
          <% end %>
          <span><%= link_to 'Show', article %></span>
          <% if article.author_id == session[:current_user] %>
            <span><%= link_to 'Edit', edit_article_path(article) %></span>
            <span><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </ul>
      </div>
      <article class="category-container gradient">
        <%= image_tag article.image, class: "to-back" %>    
        <div class="category-title">
          <%= link_to category.name, category, class: "text-white" %>
          <hr>
        </div>
        <div class="featured-text">
          <span class="text-white text-medium"><%= article.title %></span><br> 
          <span class="text-grey-light">by</span>
          <span class="text-orange"><%= article.author.name %></span>
          <span class="text-grey-light"><%= time_ago_in_words(article.created_at) %> ago</span>
        </div>
      </article>
    <% else %>
      <article class="category-container gradient">
        <img class="to-back" src="https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400006/100130939-error-404-page-not-found-error-with-glitch-effect-on-screen-vector-illustration-for-your-design-.jpg" alt="not-found"/>
        <div class="category-title">
          <%= link_to category.name, category, class: "text-white" %>
          <hr>
        </div>
        <div class="featured-text">
          <span class="text-white text-medium">There are no articles in this category, yet.</span><br> 
          <span class="text-grey-light">by</span>
          <span class="text-orange">Me</span>
          <span class="text-grey-light"><%= time_ago_in_words(Time.now) %> ago</span>
        </div>
      </article>
    <% end %>
  <% end %>
</section>