<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @category.name %>
</h1>

<p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<% @articles.each do |article| %>
  <div>
    <ul>
      <li><strong><%= article.title %></strong>, by <%= article.author.name %> <%= time_ago_in_words(article.created_at) %> </li>
      <li><%= article.text %></li>
      <% if article.image.attached? %>
      <div>
        <%= image_tag article.image.variant(resize_to_limit: [300, 300]) %>    
      <div>
      <% end %>
      <span><%= link_to 'Show', article %></span>
      <% if article.author_id == session[:current_user] %>
        <span><%= link_to 'Edit', edit_article_path(article) %></span>
        <span><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </ul>
  </div>
<% end %>