<!DOCTYPE html>
<html>
  <head>
    <title>Lifestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap"' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <nav class="nav-bar">
      <div class="nav-brand">
        <p>HACKADAY</p>
        <i class="fas fa-skull-crossbones text-white"></i>
      </div>
      <ul class="nav-links">
      <% current_uri = request.env['PATH_INFO'] %>
      <% if current_uri.include?("article")%>
        <li><%= link_to  "Home", articles_path, class: "text-orange" %></li>
      <% else %>
        <li><%= link_to  "Home", articles_path, class: "text-grey-light" %></li>
      <% end %>  
      <% @nav_categories.each do |category| %>
        <% if current_uri.include?("categories/#{category.id}")%>
          <li><%= link_to category.name, category, class: "text-orange" %></li>
        <% else %>
          <li><%= link_to category.name, category, class: "text-grey-light" %></li>
        <% end %>
      <% end %>
      </ul>
      <ul class="nav-sign">
      <% if session[:current_user].nil? %>
        <li><%= link_to "LOGIN", sign_in_path, class: "text-grey-light current" %></li>
        <li> | <%= link_to "REGISTER", new_user_path, class: "text-grey-light current" %></li>
        <li><i class="fas fa-search text-grey-light"></i></li>
      <% else %>
        <li>Welcome <%= session[:current_user_name] %></li>
        <li><%= link_to  "Sign out", sign_out_path %></li>
      <% end %>
        
      </ul>
    </nav>
    <main>

      <%= yield %>
    </main>
    <footer class="footer">
      <div class="logo">
        <img src="https://dronelife.com/wp-content/uploads/2017/03/5660001432229852186.png" alt="hackaday">
        <p class="text-white">hackaday</p>
      </div>
      <div class="policy">
        <p class="text-orange">Privacy Policy</p>
        <p class="text-orange">Terms & Conditions</p>
        <p class="text-white">Copyright 2020. All rights reserved</p>
      </div>
      <div class="social">
        <p class="text-white"> Connect with us: </p>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-github-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </footer>
  </body>
</html>
